@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}

@keyframes swipeReverse {
  0% {
    transform: translate(-100%);
  }

  to {
    transform: translate(0);
  }
}
